:root {
  --primary-color:#ffffff;
  --background-color: #082B59;
  --secondary-color: #d98555;
  --accent-color: #59331d;
  --second-accent: #f2f2f2;
  --std-space: 0;
  --main-font: "Lato", sans-serif;
  --sec-font: "Poppins", sans-serif;
  --nav-justify-content: center;
}

@media (min-width: 600px) {
  .main {
    display: grid;
    grid-template-columns: auto;
  }
}
@media (min-width: 1000px) {
  .main {
    display: grid;
    grid-template-columns: auto;
  }
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  line-height: 2;
}

h1, h2, h3 {
  font-family: var(--sec-font);
}

h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

/* make images flexible */
img {
  width: 100%;
  height: space-between;
}

a {
  color: var(--accent-color);
}

a:hover {
  text-decoration: none;
}

header {
  border-bottom: 10px solid var(--secondary-color);
}

/* navbar styling */
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: var(--nav-justify-content);
  /* max width on the image in pixels */
  /* flex basis on the image container, li */
}
nav ul li {
  margin: 0 1rem 1rem 1rem;
  font-size: 1.3rem;
}
nav ul .logo img {
  max-width: 150px;
}
nav ul .logo {
  flex-basis: 100%;
  text-align: center;
}
nav ul a {
  color: var(--primary-color);
  text-decoration: none;
  display: block;
}
nav ul a:hover {
  color: var(--secondary-color);
}

/* establishes a white background */
.main-bkgd {
  background: var(--primary-color) url(https://assets.codepen.io/6306176/gulp-bean-bkgd.jpg) repeat-x bottom;
  padding-bottom: 300px;
}

/* sits inside of the white background, centered */
.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

article {
  flex-basis: 73%;
}

figure {
  margin: 3rem var(--std-space);
  flex-basis: 25%;
  background-color: var(--accent-color);
  border-radius: 10px;
  height: auto;
  max-width: auto;
}

figure img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

figcaption {
  color: var(--second-accent);
  padding: 0.5rem;
  flex-basis: 25%;
  height: auto;
  width: auto;
  box-sizing: inherit;
}

.button {
  display: inline-block;
  background-color: var(--accent-color);
  border-radius: 10px;
  margin: 0;
  padding: 0.5rem 1rem;
  color: var(--second-accent);
  text-decoration: none;
  border: 3px solid var(--accent-color);
}

.button:hover {
  background-color: var(--second-accent);
  color: var(--accent-color);
}

footer {
  color: var(--second-accent);
  text-align: center;
  border-top: 10px solid var(--secondary-color);
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: var(--nav-justify-content);
}
footer a {
  color: var(--second-accent);
  font-size: 2rem;
  display: block;
  margin: 0 1rem 3rem 1rem;
}/*# sourceMappingURL=styles.css.map */